.logo{
    width: fixed(91px);
    height: 26px;
    top: 32px;
    left: 88px;
    gap: 12px;
}
.TEXTOLOGO{

    color: #285e67;
    width: 52px;
    height: 24px;

}
.listaheader{

    width: 347px;
    height: 24px;
    top: 32px;
    left: 1024px;
    gap: 40px;

}
header {

    width: 1300px;
    height: 224px;
    top: 200px;
    left: 70px;



}